body {
    margin-top: 70px;
    background: #225470;
    background: linear-gradient(to bottom right, #414C53, #6B7376);
}
h2{
    margin-left: 40px;
    margin-bottom: 20px;
}

.col {
    display: none;
}
.date{

  width: 47%;
}
.rotated-image {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.form-control2{
  display: none;
}
.sk2{
  display: none;
}
.sk1{
  display: none;
}


.row {
    margin-left: 8px;
    margin-right: 8px;
}
.divHide{
  display: none;
}
#skirtingi{
  display: none;
}
#vienodi{
  display: none;
}
#dateDiff{
  display: none;
}
#dateSame{
  display: none;
}
#text1,
#text2,
#text3,
#text4,
#text5,
#text6,
#text7,
#text8,
#text_1,
#text_2,
#text_3,
#text_4 {
    margin-bottom: 0;
}

.txt{
    color: white;
}

.text10 {
    height: 100px;
    display: none;
}
.text11{
    height: 500px;
}

.card {
    background-color: #333;
}

.card-inverse,
.card-footer {
    background-color: #333;
    border-color: #333;
}

.block {
    background-size: 100%;
    background-image: url('../img/bilietas.jpg');

}

.card-img-top {
    height: 109px;
    width: 110px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.alert{
    text-align: center;
    padding: 10px;
    background: #97c879;
    color: #333;
    margin-bottom: 10px;
    display: none;
}
.text11{
    display: none;
}
#irasai{
    float: right;
}
#SK{
    width: 25px;
    height: 25px;
}
#PG{
    width: 25px;
    height: 25px;
    text-align: center;
}
#aprasymas{
    display: none;
}
#textInput6, #textInput7, #textInput5, #textInput8{
  display: none;
}
